/* AddPet.css */

.add-pet-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-pet-form-group {
    margin-bottom: 15px;
  }
  
  .add-pet-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .add-pet-form-group input[type="text"] {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .add-pet-form-group input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .add-pet-button {
    display: block;
    width: 30%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    text-align: center;
  }
  
  .add-pet-button:hover {
    background-color: white;
    color: black;
    text-decoration: none;
  }
  