.ma_advertisement-column {
    width: 48% !important;
    float: none !important;
    margin: 0 auto !important;
}

.ma_add_button {
    background-color: rgb(0, 0, 0) !important;
    border: 1px solid rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
    padding: 10px 25px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 2px 2px !important;
    transition-duration: 0.4s !important;
    cursor: pointer !important;
    border-radius: 3px !important;
    outline: none !important;
    margin-bottom: 30px !important;
    margin-top: 20px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.ma_add_button3 {
    background-color: rgb(0, 0, 0) !important;
    border: 1px solid rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
    padding: 10px 25px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 2px 2px !important;
    transition-duration: 0.4s !important;
    cursor: pointer !important;
    border-radius: 3px !important;
    outline: none !important;
    margin-bottom: 30px !important;
    margin-top: 20px !important;
    margin-left: 450px !important;
    margin-right: 20px !important;
}

.ma_add_button:hover {
    background-color: #5c5656 !important;
    color: #000000 !important;
    text-decoration: none !important;
}

.ma_add_button3:hover {
    background-color: #5c5656 !important;
    color: #000000 !important;
    text-decoration: none !important;
}

.ma_button-container {
    display: flex !important;
    justify-content: flex-end !important;
    margin-top: 10px !important;
}

.ma_advertisement-container {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    margin-bottom: 20px !important;
}

.ma_advertisement-box {
    position: relative !important;
    background-color: #f9f9f9 !important;
    border: 5px solid #ddd !important;
    border-radius: 8px !important;
    padding: 20px !important;
    margin-bottom: 20px !important;
}

.ma_advertisement-box input[type="checkbox"] {
    position: absolute !important;
    top: 20px !important;
    transform: scale(1.5) !important;
    width: 15px !important;
    left: 200px !important;
}

.ma_confirm_button {
    background-color: green !important;
    border: 2px solid green !important;
    color: rgb(255, 255, 255) !important;
}

.ma_reject_button {
    background-color: red !important;
    border: 2px solid red !important;
    color: white !important;
}

.ma_advertisement-buttons {
    display: flex !important;
    justify-content: flex-end !important;
}

.ma_advertisement-column {
    width: 50% !important;
    float: right !important;
}

.ma_left-column {
    text-align: justify !important;
}

.ma_right-column {
    text-align: justify !important;
}

.ma_advertisement-box h3 {
    margin-top: 10px !important;
}

.ma_advertisement-form {
    width: 700px !important;
    margin: 0 auto !important;
    padding: 20px !important;
    background-color: #ffffff !important;
    border: 1px solid #000000 !important;
    border-radius: 8px !important;
}

.ma_advertisement-form h2 {
    text-align: center !important;
    margin-bottom: 20px !important;
}

.ma_form-group {
    margin-bottom: 20px !important;
}

.ma_form-group select {
    width: 100% !important;
    padding: 15px !important;
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
    background-color: #fff !important;
    font-size: 16px !important;
    color: #000000 !important;
    cursor: pointer !important;
}

.ma_form-group label {
    display: block !important;
    margin-bottom: 5px !important;
    font-weight: bold !important;
}

.ma_form-group input[type="text"],
.ma_form-group input[type="email"],
.ma_form-group textarea {
    width: 100% !important;
    padding: 10px !important;
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
}

.ma_form-group textarea {
    height: 100px !important;
}

.ma_submit-button {
    background-color: rgb(0, 0, 0) !important;
    border: 1px solid rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
    padding: 10px 25px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 2px 2px !important;
    transition-duration: 0.4s !important;
    cursor: pointer !important;
    border-radius: 3px !important;
    outline: none !important;
    margin-left: 250px !important;
}

.ma_submit-button:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
    text-decoration: none !important;
}


.ma_confirm_button {
    background-color: green !important;
    border: 2px solid green !important;
    color: white !important;
}

.ma_confirm_button1 {
    background-color: rgb(67, 64, 240) !important;
    border: 2px solid rgb(67, 64, 240) !important;
    color: white !important;
}


.ma_reject_button {
    background-color: red !important;
    border: 2px solid red !important;
    color: white !important;
}


.ma_advertisement-buttons {
    display: flex !important;
    justify-content: last baseline !important;
}

.ma_advertisement-container {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 0 auto !important;
    max-width: 1200px !important;
}

.ma_advertisement-card {
    width: calc(33.33% - 20px) !important;
    margin-bottom: 20px !important;
    background-color: #f9f9f9 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    border-radius: 8px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.ma_advertisement-image {
    width: 200px !important;
    height: 200px !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.ma_advertisement-details {
    padding: 20px !important;
    text-align: center !important;
}

.ma_advertisement-title {
    margin-top: 0 !important;
}

.ma_advertisement-description {
    margin-bottom: 10px !important;
}

.ma_advertisement-contact {
    font-weight: bold !important;
}

.ma_advertisement-table {
    width: 90% !important;
    margin: 20px auto !important;
    border-collapse: collapse !important;
}

.ma_advertisement-table th,
.ma_advertisement-table td {
    border: 1px solid #ddd !important;
    padding: 8px !important;
    text-align: center !important;
}

.ma_advertisement-table th {
    background-color: #f2f2f2 !important;
}

.ma_advertisement-table tr:nth-child(even) {
    background-color: #f9f9f9 !important;
}

.ma_advertisement-table tr:hover {
    background-color: #ddd !important;
}

.ma_table-container_center {
    margin: 20px auto !important;
    width: 90% !important;
}

.ma_search-input {
    width: 300px !important;
    float: right !important;
    margin-right: 20px !important;
    margin-top: 20px !important;
    justify-content: right !important;
    justify-items: right !important;
}

.ma_main_container {
    display: flex !important;
}

.ma_main_container_center {
    margin: 20px auto !important;
    width: 90% !important;
}

.ma_text_container {
    margin-top: -70px !important;
}
