.anubank-transfer {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 5%;
  margin-bottom: 5%;
}

.anubank-transfer h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.anubtform-group {
  margin-bottom: 20px;
}

.anubtform-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  color: #000000;
  font-weight:bold ;
}

.anubtform-group input[type="text"],
.anubtform-group input[type="file"],
.anubtform-group select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #000000;
  border-radius: 5px;
}

.anubtbtn-con{
  display: flex;
  justify-content: center;
}

.anubtbutton {
  display: block;
  width: 40%;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.anubtbutton:hover {
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
}
