.cps-container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 5%;
    margin-bottom: 5%;
}

.cps-container h2{
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;;
}

.cps-container h5{
    text-align: center;
}

.cps-container h3{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.cps-container p{
    margin-left: 30px;
}

.cps-button-container button{
    display: block;
    width: 50%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
}

.cps-button-container button:hover{
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
}

.cps-button-container{
    display: flex;
    justify-content: center;
    width: 30%;;
}

.cps-button-container button:first-child{
    margin-right: 5px;
}

.cps-button-container button:last-child{
    margin-left: 5px;
}



/* .cps-container h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.cps-container p{
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.cps-buttoncon{
    display: flex;
    justify-content: center;
}

.cps-buttoncon button{
    margin-right: 5px;
    margin-left: 5px;
}

.cps-button{
    display: block;
    width: 50%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    text-align: center;
}

.cps-button:hover{
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
} */