/* feedbackdisplay.css */

.buttonContainer {
  display: flex;
  justify-content: center; /* Center the container horizontally */
  gap: 10px; /* Small space between buttons */
  margin-top: 10px;
  margin-bottom: 0px;
}

.FDbuttons,
.FDBbuttons {
  padding: 10px 20px;
  font-size: 15px;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  color: #ddd;
}



.FDbuttons:hover,
.FDBbuttons:hover {
  background-color: #ffffff;
    color: #000000;
    text-decoration: none;
}


.starFilter {
  margin-top: 20px;
  text-align: center;
}

.starFilter label {
  margin-right: 10px;
}

.starFilter select {
  padding: 5px 10px;
  font-size: 16px;
}

.feedbackListContainer {
  display: grid;
  grid-gap: 20px;
  margin-top: 20px;
}

.feedbackItem {
  position: relative; /* Set position to relative for button positioning */
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
}

.feedbackItem h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
  text-align: left;
}

.feedbackItem p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #666;
}

.starRating {
  font-size: 24px;
  color: #f1c40f;
}

.feedbackButtons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-color: #333;
}

.likeButton, .dislikeButton {
  background: #007bff;
  border: none;
  font-size: 16px; /* Adjust font size */
  margin-left: 5px; /* Reduce margin */
  cursor: pointer;
  padding: 5px 10px; /* Adjust padding */
  border-radius: 3px; /* Add border radius for rounded corners */
}


.likeButton:hover, .dislikeButton:hover {
  color: #a8c9ec; /* Change color on hover */
}

.titleContainer {
  text-align: center;
  margin-bottom: 2px;
  margin-top:-45px;
}

.nameSearch {
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 29%;
  margin-right: 0%;
}

