/* feedbackdisplay.css */

.FDbuttons {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.FDbuttons:hover {
  background-color: #0056b3;
}

.starFilter {
  margin-top: 20px;
  text-align: center;
}

.starFilter label {
  margin-right: 10px;
}

.starFilter select {
  padding: 5px 10px;
  font-size: 16px;
}

.feedbackListContainer {
  display: grid;
  grid-gap: 20px;
  margin-top: 20px;
}

.feedbackItem {
  position: relative; /* Set position to relative for button positioning */
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
}

.feedbackItem h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
  text-align: left;
}

.feedbackItem p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #666;
}

.starRating {
  font-size: 24px;
  color: #f1c40f;
}

.feedbackButtons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-color: #333;
 
}

.likeButton, .dislikeButton {
  background: none;
  border: none;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid black;
  
  
}

.likeButton:hover, .dislikeButton:hover {
  color: #007bff; /* Change color on hover */
}
