.feedback-reply-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -130px;
    margin-bottom: -200px;
  }
  
  .feedback-reply-form {
    width: 80%;
    max-width: 500px;
  }
  
  .feedback-reply-textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  
  .ssubmit-button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    color: #ccc;
    
  }
  
  .ssubmit-button:hover {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    
  }
  