.groometext{
    color: white;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}

.groom-services-container {
  padding: 20px !important;
  background-color: #f5f5f5 !important;
  }
  
  .service-list {
    list-style-type: none;
    padding: 0;
  }
  
  .service-list li {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .service-list li h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .service-list li p {
    color: #666;
  }
  
  .service-list li:hover {
    background-color: #f0f0f0;
  }

  .dots-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #333;
  }

 .upper-text {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.welcome-text {
  color: white;
  font-size: 40px !important;
  font-weight: bold;
  margin-bottom: 20px; 
  margin-top: 100px;
}

.appointment-button {
  display: block;
  width: 250px;
  margin: 0 auto 20px; 
  padding: 15px 20px;
  background-color: transparent;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 5px;
}

.appointment-button:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}


