.appointment-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.appointment-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.appointment-button:hover {
    background-color: #4CAF50; 
    border-color: #4CAF50; 
    color: #fff; 
    transform: scale(1.05);
}

.slideshow {
    height: 100vh; 
    background-size: cover;
    background-position: center top;
    animation: slideshow 12s infinite;
}

@keyframes slideshow {
    10% {background-image: url("C:/Online-Pet-Management-System/frontend/public/images/groome1.jpg");}
    30% {background-image: url("/C:/Online-Pet-Management-System/frontend/public/images/groome2.jpg");}
    50% {background-image: url("C:/Online-Pet-Management-System/frontend/public/images/groome3.jpg");}
    70% {background-image: url("C:/Online-Pet-Management-System/frontend/public/images/groome4.jpg");}
    90% {background-image: url("C:/Online-Pet-Management-System/frontend/public/images/groome5.jpg");}
}
