.order-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(98, 133, 144, 0.35);  
  border: 2px solid #000000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  margin-bottom: 10px;
}

.order-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group textarea {
  height: 100px;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #fff;
  color: #000000;
  border: 1px solid black;;}
.important-note {
  background-color: #f2d7d5; /* Light red/pink background */
  border: 2px solid #e74c3c; /* Dark red border */
  border-radius: 8px; /* Rounded corners */
  padding: 15px; /* Padding inside the box */
  font-weight: bold; /* Bold text */
  color: #c0392b; /* Dark red text */
  text-align: center; /* Centered text */
  margin-top: 20px; /* Space between form and note */
}

