.pet-profile-container{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
  margin-bottom: 5%;
  border: 2px solid #000000;
}

.pet-profile-photo{
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-left: 20px;
}

.pet-pro{
  display: flex;
  justify-content: space-between;
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto;
}

.pet-pro-con{
  width: calc(40% - 10px);
  margin-right: 10px;
}

.pet-pro-info{
  width: calc(60% - 10px);
  margin-left: 10px;
}

.pet-profile-info{
  margin-left: 20%;
}

.pet-profile-heading{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.petname{
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.profile-photo-input-wrapper{
  margin-top: 20px;
  display: flex;
  align-items: center;
}



.delete-photo-button{
  display: block;
  width: 43%;
  padding: 10px;
  font-size: 0.7rem;
  color: #fff;
  background-color: #ff0000;
  border: 1px solid #ff0000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

.delete-photo-button:hover{
  background-color: #a90101;
  border: 1px solid #a90101;
  color: #ffffff;
  text-decoration: none;
}

.profile-photo-input{
  margin-left: 40px;
}

.pet-profile-button{
  display: block;
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  text-align: center;
}

.pet-profile-button:hover{
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
}

.delete-profile-button{
  display: block;
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #ff0000;
  border: 1px solid #ff0000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  text-align: center; 
}

.delete-profile-button:hover{
  background-color: #a90101;
  border: 1px solid #a90101;
  color: #ffffff;
  text-decoration: none;
}

.pet-profile-button-wrapper {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.pet-download-pdf-button{
  display: block;
  width: 20%;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pet-download-pdf-button:hover{
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
}