/* register.css */

.registration-registration-form {
  margin-top: 10px;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #000000;
  font-weight: bold;
  backdrop-filter: blur(10px);
  font-family: 'Times New Roman', Times, serif;
}

.registration-registration-form h2 {
  text-align: center;
}

.registration-form-group {
  margin-bottom: 15px;
}

.registration-form-group label {
  display: block;
  margin-bottom: 5px;
}

.registration-form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border-color:#FFFFFF;
}

.registration-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid rgb(39, 20, 9);
  transition: background-color 0.3s;
  border-radius: 19px;
}

.registration-button:hover {
  background-color: #214267;
}

.registration-staff {
  text-align: center;
}

.registration-staff-registration-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #000000;
  color: white;
  border: 2px solid rgb(39, 20, 9);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 19px;
}

.registration-staff-registration-btn:hover {
  background-color: #214267;
}
