/* register.css */

.registration-registration-form {
  margin-top: 10px;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #000000;
  backdrop-filter: blur(10px);
}

.registration-registration-form h2 {
  text-align: center;
}

.register-content {
  font-size: 14px; /* Adjust font size as needed */
}

.registration-form-group {
  margin-bottom: 15px;
}

.registration-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.registration-form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border-color:#ccc;
}

.registration-button {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #000000;
  transition: background-color 0.3s;
  border-radius: 19px;
}

.registration-button:hover {
  background-color:  #FFFFFF;
  color: #000000;

}

.registration-staff {
  text-align: left;
  font-weight: bold;

}

.registration-staff-registration-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #000000;
  color: white;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 19px;
}

.registration-staff-registration-btn:hover {
  background-color:  #FFFFFF;
  color: #000000;


}
