/* salaryTable.css */

/* Search Container */
.SalaryTable1 .search-container {
  text-align: left; /* Align to the right */
  margin-bottom: 20px;
  background-color: #ffffff;
  border: none;
}

.SalaryTable1 .search-container .SalaryTablesearch {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

/* Style select dropdown */
.SalaryTable1 .search-container .SalaryTableselect {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 10px;
}

/* Style select dropdown options */
.SalaryTable1 .search-container .SalaryTableselect option {
  font-size: 16px;
}

/* Style the table */
.SalaryTable1 .SalaryTable2 {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.SalaryTable1 .SalaryTable2 th,
.SalaryTable1 .SalaryTable2 td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.SalaryTable1 .SalaryTable2 th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center; /* Center align table headers */
}

.SalaryTable1 .SalaryTable2 tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.SalaryTable1 .SalaryTable2 tbody tr:hover {
  background-color: #ddd;
}


.SalaryUpdate {
  display: inline-block;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.SalaryUpdate:hover {
  background-color: #45a049;
  text-decoration: none;
}

.SalaryGenerateReport {
  background-color: #000000; 
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 20px;
}

.SalaryGenerateReport:hover {
  background-color: #393b39; 
}
