.SalaryViewContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .SalaryViewHeader {
    text-align: center;
    border: 1px solid #1f1e1e; 
    padding: 70px; 
  }
  
  
  .SalaryView {
    text-align: left;
    margin-top: 40px;
  }
  