/* Sidebar.css */

.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    transition: width 0.3s ease;
  }
  
  .sidebar.open {
    width: 50px;
  }
  
  .toggle-icon {
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .sidebar ul li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  