.signinform {

  
    margin-top: 10px;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: rgb(180, 186, 185);
    color: #000000;
    font-weight: bold;
    backdrop-filter: blur(10px);
    font-family:'Times New Roman', Times, serif ;

  
  .form-group {

    margin-top: 20px;
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:#000000;
    color: #fff;
    cursor: pointer;
    border-radius: 19px;
    border: 2px solid rgb(39, 20, 9);

  
  }

 
.form-group {
  margin-top: 20px;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(46, 119, 107, 0.397);
  color: #fff;
  cursor: pointer;
  border-radius: 19px;
  border: 2px solid rgb(39, 20, 9);
}

button:hover {
  background-color: #214267;
}

p {
  margin-top: 0;
}
}
