/* signin.css */

.signin-signinform {
  margin-top: 10px;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color:#fff;
  color: #000000;
  font-weight: bold;
  backdrop-filter: blur(10px);
  font-family: 'Times New Roman', Times, serif;
}

.signin-form-group {
  margin-top: 20px;
  margin-bottom: 15px;
}

.signin-label {
  display: block;
  margin-bottom: 5px;
}

.signin-input[type="email"],
.signin-input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signin-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  border-radius: 19px;
  border: 2px solid rgb(39, 20, 9);
}

.signin-button:hover {
  background-color: #214267;
}

.signin-p {
  margin-top: 0;
}
