/* staffProfile.css */

.StaffProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.staffProfileWrapper {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid transparent;
  border-color: #000000;
}

.staffProfile {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 18px;
  text-align: left;
  max-width: 600px;
}

.staffProfile p {
  margin: 5px 0;
}

.StaffProfilenavigation-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

.staffProfile-update-delete-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.staffProfile-update-btn,
.staffProfile-delete-btn,
.staffProfile-leave-btn,
.staffProfile-applied-leaves-btn,
.staffProfile-view-salary-btn {
  display: inline-block;
  padding: 12px 18px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.staffProfile-update-btn {
  background-color: #28a745;
  color: #fff;
}

.staffProfile-delete-btn {
  background-color: #dc3545;
  color: #fff;
}

.staffProfile-leave-btn,
.staffProfile-applied-leaves-btn,
.staffProfile-view-salary-btn {
  background-color: #000000;
  color: #fff;
}

.staffProfile-update-btn:hover,
.staffProfile-delete-btn:hover,
.staffProfile-leave-btn:hover,
.staffProfile-applied-leaves-btn:hover,
.staffProfile-view-salary-btn:hover {
  opacity: 0.8;
  text-decoration: none;
}
