/* staffProfile.css */

.staffProfile {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  text-align: center; /* Align content to the center */
}

.staffProfile p {
  margin: 5px 0;
  text-align: center; /* Align text to the left within paragraphs */
}

.staffProfile-update-btn,
.staffProfile-delete-btn,
.staffProfile-leave-btn {
  display: inline-block;
  padding: 12px 18px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}


.staffProfile-update-btn {
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
}

.staffProfile-delete-btn {
  background-color: #dc3545;
  color: #fff;
  font-size: 16px;
}

.staffProfile-leave-btn {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
}

.staffProfile-update-btn:hover,
.staffProfile-delete-btn:hover,
.staffProfile-leave-btn:hover {
  opacity: 0.8;
  text-decoration: none;
}


