/* staffLogin.css */

.staffLoginContainer {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  margin-top: 20px;
}

.staffLoginForm {
  display: flex;
  flex-direction: column;
}

.staffLogin {
  margin-bottom: 15px;
}

.staffLogin-label {
  font-weight: bold;
}

.staffId,
.staffpassword {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.StaffLogin {
  width: 100%;
  padding: 10px;
  margin-top: 40px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.staffloginerror {
  color: red;
  margin-top: 10px;
}

.staffLoginHeader{
  text-align: center; 
}