/* staffList.css */

.staffListcontainer1 {
  margin: auto;
  padding: 20px;
  max-width: 1350px;
}

.staffList-SearchBar-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.staffList-SearchBar {
  width: 300px; /* Set a fixed width for the search bar */
  margin-right: 10px; /* Add some spacing between search bar and select */
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.staffList-select {
  width: 150px; /* Set a fixed width for the select element */
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.staffList-table {
  width: 100%;
  border-collapse: collapse;
}

.staffList-table th,
.staffList-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.staffList-table th {
  background-color: #f2f2f2;
  color: #333;
}

.staffList-table tr:hover {
  background-color: #f5f5f5; 
}

.staffList-action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.staffList-update-btn,
.staffList-delete-btn,
.staffList-salary-btn {
  padding: 8px 16px;
  margin-right: 8px;
  margin-bottom: 8px; 
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

.staffList-update-btn:hover,
.staffList-delete-btn:hover,
.staffList-salary-btn:hover {
  background-color: #45a049; 
  text-decoration: none;
}

.staffList-delete-btn{
  background-color:#d33333;
  text-decoration: none;
}


.staffList-salary-btn {
  background-color: #337ab7; 
  text-decoration: none;
}

.staffList-salary-btn:hover {
  background-color: #286090; 
  text-decoration: none;
}


.staffdetailsReport {
  background-color: #000000; 
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 20px;
}

.staffdetailsReport:hover {
  background-color: #393b39; 
}

