/* StaffLeaveList.css */

.staffLeaveList-container {
  max-width: 800px;
  margin: 0 auto;
}

.staffLeaveList-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: 20px;
}

.staffLeaveList-table th,
.staffLeaveList-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.staffLeaveList-table th {
  background-color: #f2f2f2;
  text-align: center; 
}

.staffLeaveList-table td {
  background-color: #ffffff;
  text-align: center; 
}

.staffLeaveList-table th:first-child,
.staffLeaveList-table td:first-child {
  border-left: none;
}

.staffLeaveList-table th:last-child,
.staffLeaveList-table td:last-child {
  border-right: none;
}

.staffLeaveList-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.staffLeaveList-table tr:hover {
  background-color: #e0e0e0;
}

.View-Details,
.Delete-Leave {
  padding: 6px 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: 10px;
}

.View-Details {
  background-color: black; 
}

.Delete-Leave {
  background-color: red;
}


.Delete-Leave {
  margin-right: 10px; 
}

.leave-status {
  text-align: left;
  margin-bottom: 20px;
}

.leave-status p {
  font-size: 18px;
  margin: 10px 0;
}

.leave-status p span {
  font-weight: bold;
}

.leaveList-search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}

.leaveList-search-bar select {
  padding: 8px;
  width: auto;
  margin-right: 5px;
  height: 40px; 
}

.leaveList-search-bar input[type="text"] {
  flex: 1;
  padding: 8px;
  width: 120px;
  height: 40px; 
}

