/* StaffSalary.css */

.StaffSalary {
  margin-top: 10px;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: white;
  color: #000000;
  font-weight: bold;
  backdrop-filter: blur(10px);
}

.StaffSalary-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.StaffSalary-form-group {
  margin-bottom: 15px;
}

.StaffSalary-form-group label {
  display: block;
  margin-bottom: 5px;
}

.staffname,.staffid, .basicSalary, .otHours, .otAmount, .bonusAmount {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border-color: azure;
}

.StaffCalculate {
    align-items: center;
    background-color: #393b39;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 80%;
    margin-top: 10px;
}
.StaffCalculate:hover{
  background-color: #676464;
}

.SalaryCalculator-result {
  margin-top: 20px;
  text-align: center;
}

/* Additional styling can be added as needed */
