/* StaffLeaveList.css */

.staffLeaveList-container {
  max-width: 800px;
  margin: 0 auto;
}

.staffLeaveList-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.staffLeaveList-table th,
.staffLeaveList-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.staffLeaveList-table th {
  background-color: #f2f2f2;
}

.staffLeaveList-table td {
  background-color: #ffffff;
}

.staffLeaveList-table th:first-child,
.staffLeaveList-table td:first-child {
  border-left: none;
}

.staffLeaveList-table th:last-child,
.staffLeaveList-table td:last-child {
  border-right: none;
}

.staffLeaveList-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.staffLeaveList-table tr:hover {
  background-color: #e0e0e0;
}

.View-Details,
.Delete-Leave {
  padding: 6px 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: 10px;
}

.View-Details {
  background-color: black; /* Black for View Details button */
}

.Delete-Leave {
  background-color: red; /* Red for Delete button */
}

/* Add gap between buttons */
.Delete-Leave {
  margin-right: 10px; /* Adjust as needed */
}



