/* staffProfile.css */

/* Page container styling */
.staff-profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9; /* Background color for the entire page */
}

/* Container for staff profile */
.staffProfileContainer {
  max-width: 600px; /* Adjust maximum width as needed */
  width: 100%;
  padding: 20px;
}

/* Staff profile card styling */
.staff-profile {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
  padding: 30px;
}

.staff-profile img {
  width: 150px; /* Adjust according to your design */
  height: 150px; /* Adjust according to your design */
  border-radius: 50%; /* To make the image circular */
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow effect for the image */
}

.staff-profile h2 {
  font-size: 24px; /* Font size for the name */
  margin-bottom: 10px;
  color: #333; /* Name color */
}

.staff-profile p {
  margin: 5px 0;
  color: #666; /* Text color */
}

.staff-profile p:first-child {
  margin-top: 0; /* Remove top margin for the first paragraph */
}

/* Action buttons */
.action-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.apply-leave-button,
.edit-profile-button,
.delete-profile-button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.apply-leave-button {
  background-color: #4caf50;
  text-decoration: none; 
  color: #fff;
}

.apply-leave-button:hover {
  background-color: #45a049;
  text-decoration: none; 
}

.edit-profile-button {
  background-color: #008CBA;
  color: #fff;
}

.edit-profile-button:hover {
  background-color: #0077a3;
}

.delete-profile-button {
  background-color: #f44336;
  color: #fff;
}

.delete-profile-button:hover {
  background-color: #d32f2f;
}
