.staffRegistration-form {
    margin-top: 10px;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: white;
    color: #000000;
    font-weight: bold;
    backdrop-filter: blur(10px);
  
  }
  
  .staffregister-form{
    border-style:none;
    border: none;
  }
  .staffRegistration-form h2 {
    text-align: center;
    
  
  }
  
  .staffregister-form-group {
    margin-bottom: 15px;
  }
  
  .staffregister-form-group label {
    display: block;
    margin-bottom: 5px;
    
  }
  
  .sname,.semail, .scontactNumber, .saddress, .designation {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border-color: azure;
  }
  
  .staffRegisterButton {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    background-color:#000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 19px;
    
  
  }
  
  .staffRegisterButton:hover {
    background-color: #FFFFFF;
    color: #000000;
  }
  