
.alo1-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .alo1-table th,
  .alo1-table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .alo1-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .alo1-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .alo1-table tr:hover {
    background-color: #ddd;
  }
  .button-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.alo1-button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(24, 10, 10);
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.alo1-button:hover {
    text-decoration: underline;
}
.dashboard-header {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.total-count {
  font-size: 18px;
  color: #333;
}

@media (max-width: 768px) {
  .dashboard-header {
    padding: 8px;
  }

  .total-count {
    font-size: 16px;
  }
}



.alo_view-details-button button {
  color: #ffffff;
  background-color: #2b5c8f;
  border-radius: 5px;
  
}

.alo_view-details-button button:hover {
  background-color: #275d98;
}

.alo2-button {
  padding: 10px 20px;
  background-color: rgba(198, 17, 17, 0.913);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Trainingdashboard.css */
.asw18-chart-container {
  margin-top: 60px; /* Add some margin to separate the chart from the table */
  max-width: 800px; /* Set a maximum width for the chart */
  margin-left: 10px; /* Center the chart horizontally */
  margin-right: auto;
  background-color: rgb(226, 218, 187); /* Set background color to light blue */
  padding: 20px; /* Add padding to create space around the chart */
  border-radius: 15px; /* Add border radius to create rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add shadow effect */
  
}
.a1802-piechart-container {
  margin-top: 60px; /* Add some margin to separate the chart from the table */
  max-width: 800px; /* Set a maximum width for the chart */
  margin-left: 5px; /* Center the chart horizontally */
  margin-right: auto;
  background-color: rgb(226, 218, 187); /* Set background color to light blue */
  padding: 20px; /* Add padding to create space around the chart */
  border-radius: 15px; /* Add border radius to create rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add shadow effect */
  
}
#pieChart{
  max-height: 500px;
  width: 50%;
}
#trainingChart {
  max-height: 600px; /* Set a maximum height for the chart */
  width: 80%; /* Make the chart fill its container */
}
.alo1802name{
  text-align: center;
  margin-bottom: 30px;
  font-size: larger;
  font-weight: bold;
  
}

