.alo-background-container {
    position: relative;
}

.alo-background-container img {
    position: absolute;
    opacity: 0.7;
    top: 0;
    left: 0;
    width: 100%;
    height: 1680px;
    z-index: -1;
}

.alo-container {
    position: relative; 
    display: flex; 
    justify-content: space-between; 
    margin-left: 50px;
    margin-right: 50px;
}

.alo-left-side, .alo-right-side {
    width: 45%;
    background-color: rgb(98, 133, 144,0.35);
    padding: 50px;
    margin: 10px;
    border-radius: 10px;
    
}

.alo-form-container, .alo-info-container {
    padding: 10px;
}

.alo-form-group {
    margin-bottom: 10px;
}

.private
{
    display: block;
    font-weight: bold;
}

input, .textarea {
    width: 60%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.alo-button {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.alo-check {
    display: flex;
   
  }
  
  .alo-form-check {
    margin-right: 10px;
    padding-right:0px;
    align-items: center;
    
 
  }
  .alo-form-check input[type="checkbox"] {
    
    width: 16px; 
    height: 16px; 
    
  }

  .alooo-box {
    background-color: #f0f0f0; 
    border: 1px solid #ddd; 
    padding: 20px; 
    border-radius: 8px; 
    margin-bottom: 20px; 
  }
  
  .alooo-box p {
    margin: 0; 
    font-size: 16px; 
  }
  
  .alooo-box a {
    color: #007bff; 
    text-decoration: none; 
    font-weight: bold;
    transition: color 0.3s; 
  }
  
  .alooo-box a:hover {
    color: #0056b3;
  }
  

  
.suba18-instructions {
  list-style-type: disc;
  padding-left: 20px;
}

.suba18-instructions li {
  margin-bottom: 10px;
}
  
  
