/* .UserProfile {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .profilePhotoContainer {
    position: relative;
  }
  
  .profilePhotoContainer img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .profilePhotoContainer input[type="file"] {
    display: none;
  }
  
  .createPetProfileButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .profileInfo label {
    display: block;
    margin-bottom: 5px;
  }
  
  .profileInfo input,
  .profileInfo textarea {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .profileInfo button {
    width: calc(50% - 5px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .profileInfo button:hover {
    background-color: #0056b3;
  }
  
  .profileInfo button:last-child {
    margin-left: 10px;
  }
  
   */

   /* myprofile.css */

.MyProfileContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.ProfileCard {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.ProfileHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.ProfilePhoto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.ProfileHeader input[type="file"] {
  margin-left: auto;
}

.ProfileHeader input[type="file"]::-webkit-file-upload-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.ProfileHeader input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #0056b3;
}

.ProfileHeader input[type="file"]::-webkit-file-upload-button:active {
  background-color: #004a9b;
}

.ProfileHeader input[type="file"]::-webkit-file-upload-button:focus {
  outline: none;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004a9b;
}

button:focus {
  outline: none;
}
