/* vetnotifications.css */
.vetnotification_accept_button,
.vetnotification_reject_button {
  margin-left: 20px !important; /* Add more space between buttons */
  padding: 8px 12px !important; /* Padding inside the buttons */
}

.vetnotification_accept_button {
  background-color: lightgreen !important; /* Light green color */
  color: rgb(255, 255, 255) !important; /* Change text color if desired */
}

.vetnotification_reject_button {
  background-color: lightcoral !important; /* Light red color */
  color: rgb(255, 255, 255) !important; /* Change text color if desired */
}

.vetnotification_appointment_container {
  display: flex !important; /* Use flex layout */
  justify-content: space-between !important; /* Align items to left and right */
  align-items: center !important; /* Center items vertically */
  padding: 10px !important;
}

.vetnotification_appointment_info {
  flex-grow: 1 !important; /* Take up the remaining space */
}

.vetnotification_button_group {
  display: flex !important; /* Use flex layout for buttons */
  margin-right: 400px !important;
}
